*.out
*.err
*.o
checkpoint.dat
goe_search_7x7_cpu
goe_search_7x7_v7_cpu
goe_search_7x8_hip
test_*
test_log
slurm_test/

*.sbatch
*.sh
*.txt
*.dat
count_uniq
goe_search
goe_search_7x7*
!goe_search_7x7*.c
!goe_search_7x7*.cpp
!goe_search_7x7*.hip
local_scripts/
kissat/
